:root { 
  --white: #ffffff;
 
  --font-size-l: 100px;
  --font-size-m: 40px;
  --font-size-s: 25px;
 
  --font-family-futura-medium: "Futura-Medium", Helvetica;
  --font-family-permanentmarker_pro-regular: "permanent-marker-pro", Helvetica;
}
.futura-medium-white-40px {
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.futura-medium-white-100px {
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.permanentmarkerpro-regular-normal-white-100px {
  color: var(--white);
  font-family: var(--font-family-permanentmarker_pro-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
