:root { 
  --white: #ffffff;
 
  --font-size-m: 100px;
 
  --font-family-permanentmarker_pro-regular: "permanent-marker-pro", Helvetica;
}
.permanentmarkerpro-regular-normal-white-100px {
  color: var(--white);
  font-family: var(--font-family-permanentmarker_pro-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
