/* screen - web-1920-1 */

.web-1920-1 {
  background-color: var(--white);
  height: 5760px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.web-1920-1 .rectangle-1-HlzXCz {
  background-color: #211010;
  border: 1px solid #707070;
  height: 5760px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.web-1920-1 .ibrahim-mushan-wl5-vi-unsplash-HlzXCz {
  background-color: transparent;
  height: 317px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3556px;
  width: 1920px;
}

.web-1920-1 .widget-wrapper-HlzXCz {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 1085px;
  width: 1920px;
}

.web-1920-1 .mackenzie-marco-ydsdza-unsplash-mYZ4sz {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.web-1920-1 .title-HlzXCz {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 168px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: 106px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .group-1-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 224px;
  left: 484px;
  pointer-events: auto;
  position: absolute;
  top: 1357px;
  transition: all 0.2s ease;
  width: 952px;
}

.web-1920-1 .group-1-HlzXCz:hover {
  transform: scale(0.9); 
}

.web-1920-1 .path-1-AjZs0L {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .buy-on-uniswap-AjZs0L {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: calc(10.14% - 16px);
  height: 155px;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 211px);
}

.web-1920-1 .group-2-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 224px;
  left: 484px;
  pointer-events: auto;
  position: absolute;
  top: 1610px;
  transition: all 0.2s ease;
  width: 952px;
}

.web-1920-1 .group-2-HlzXCz:hover {
  transform: scale(0.9); 
}

.web-1920-1 .rectangle-3-364X31 {
  background-color: #211010;
  border: 3px solid var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-1 .view-dextools-364X31 {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: calc(10.14% - 16px);
  height: 155px;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 258px);
}

.web-1920-1 .no-path-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 114px;
  left: 784px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1874px;
  transition: all 0.2s ease;
  width: 114px;
}

.web-1920-1 .no-path-HlzXCz:hover {
  transform: scale(0.9); 
}

.web-1920-1 .no-path-copy-HlzXCz {
  background-color: transparent;
  cursor: pointer;
  height: 114px;
  left: 996px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1874px;
  transition: all 0.2s ease;
  width: 114px;
}

.web-1920-1 .no-path-copy-HlzXCz:hover {
  transform: scale(0.9); 
}

.web-1920-1 .union-5-HlzXCz {
  background-color: transparent;
  height: 693px;
  left: 166px;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 1591px;
}

.web-1920-1 .still-wondering-how-this-works-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2284px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .still-wondering-how-this-works-HlzXCz.animate-enter {
  animation: animate-enter-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .lets-get-into-the-mechanics-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2346px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .lets-get-into-the-mechanics-HlzXCz.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .nfa-is-designed-e-founders-rich-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2478px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .nfa-is-designed-e-founders-rich-HlzXCz.animate-enter2 {
  animation: animate-enter2-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .and-possibly-some-other-people-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2540px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .and-possibly-some-other-people-HlzXCz.animate-enter3 {
  animation: animate-enter3-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .but-if-that-hap-bout-whatsoever-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2602px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .but-if-that-hap-bout-whatsoever-HlzXCz.animate-enter4 {
  animation: animate-enter4-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .who-is-nfa-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2734px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .who-is-nfa-HlzXCz.animate-enter5 {
  animation: animate-enter5-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter5-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .most-importantl-yer-on-our-team-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 227px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2888px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .most-importantl-yer-on-our-team-HlzXCz.animate-enter6 {
  animation: animate-enter6-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter6-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .he-gives-us-con-efinitely-legit-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 227px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 2950px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .and-we-are-usin-ening-right-now-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 227px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3012px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .not-really-as-w-inancial-advice-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .nfa-is-designed-et-rich-as-fuck-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 231px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3298px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .okay-moving-on-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3206px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .what-are-we-goi-with-the-money-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 231px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3430px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .super-yacht-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 689px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 3643px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .remember-none-o-u-will-get-rich-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 706px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 5588px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .none-of-your-fucking-business-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2826px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .none-of-your-fucking-business-HlzXCz.animate-enter7 {
  animation: animate-enter7-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter7-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1920-1 .ryan-geller-kng-kle-t4-unsplash-HlzXCz {
  background-color: transparent;
  height: 317px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3873px;
  width: 1920px;
}

.web-1920-1 .private-island-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 689px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 3982px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .mostafa-safadel-jkw-q-unsplash-HlzXCz {
  background-color: transparent;
  height: 317px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 4190px;
  width: 1920px;
}

.web-1920-1 .other-super-cool-stuff-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 438px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 4299px;
  white-space: nowrap;
  width: auto;
}

.web-1920-1 .investment-thesis-HlzXCz {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 577px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 4602px;
  white-space: nowrap;
  width: auto;
}
