/* screen - web-1280-1 */

.web-1280-1 {
  background-color: var(--white);
  height: 5760px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.web-1280-1 .rectangle-5-iw6dzL {
  background-color: var(--night-rider);
  border: 1px solid #707070;
  height: 5760px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1277px;
}

.web-1280-1 .ibrahim-mushan-wl5-vi-unsplash-iw6dzL {
  background-color: transparent;
  height: 317px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3556px;
  width: 1277px;
}

.web-1280-1 .widget-wrapper-iw6dzL {
  background-color: transparent;
  height: 1080px;
  left: 0px;
  position: absolute;
  top: 1085px;
  width: 1277px;
}

.web-1280-1 .mackenzie-marco-ydsdza-unsplash-6WL1rQ {
  background-color: transparent;
  object-fit: cover;
  width: 100%;
}

.web-1280-1 .not-financial-advice-buy-nfa-iw6dzL {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-permanentmarker_pro-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 168px;
  letter-spacing: 0.00px;
  line-height: 59px;
  position: absolute;
  text-align: center;
  top: 96px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .group-12-iw6dzL {
  background-color: transparent;
  cursor: pointer;
  height: 224px;
  left: 162px;
  pointer-events: auto;
  position: absolute;
  top: 1357px;
  transition: all 0.2s ease;
  width: 952px;
}

.web-1280-1 .group-12-iw6dzL:hover {
  transform: scale(0.9); 
}

.web-1280-1 .path-1-fI6RWx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1280-1 .buy-on-uniswap-fI6RWx {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: calc(10.14% - 16px);
  height: 155px;
  left: 106px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 211px);
}

.web-1280-1 .group-13-iw6dzL {
  background-color: transparent;
  cursor: pointer;
  height: 224px;
  left: 162px;
  pointer-events: auto;
  position: absolute;
  top: 1610px;
  transition: all 0.2s ease;
  width: 952px;
}

.web-1280-1 .group-13-iw6dzL:hover {
  transform: scale(0.9); 
}

.web-1280-1 .rectangle-3-WxCmR0 {
  background-color: var(--night-rider);
  border: 3px solid var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1280-1 .view-dextools-WxCmR0 {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  bottom: calc(10.14% - 16px);
  height: 155px;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 258px);
}

.web-1280-1 .no-path-iw6dzL {
  background-color: transparent;
  cursor: pointer;
  height: 114px;
  left: 505px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1874px;
  transition: all 0.2s ease;
  width: 114px;
}

.web-1280-1 .no-path-iw6dzL:hover {
  transform: scale(0.9); 
}

.web-1280-1 .no-path-copy-iw6dzL {
  background-color: transparent;
  cursor: pointer;
  height: 114px;
  left: 641px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 1874px;
  transition: all 0.2s ease;
  width: 114px;
}

.web-1280-1 .no-path-copy-iw6dzL:hover {
  transform: scale(0.9); 
}

.web-1280-1 .union-6-iw6dzL {
  background-color: transparent;
  height: 674px;
  left: 166px;
  object-fit: cover;
  position: absolute;
  top: 309px;
  width: 916px;
}

.web-1280-1 .still-wondering-how-this-works-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2284px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .still-wondering-how-this-works-iw6dzL.animate-enter8 {
  animation: animate-enter8-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter8-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .lets-get-into-the-mechanics-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2346px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .lets-get-into-the-mechanics-iw6dzL.animate-enter9 {
  animation: animate-enter9-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter9-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .nfa-is-designed-e-founders-rich-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2478px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .nfa-is-designed-e-founders-rich-iw6dzL.animate-enter10 {
  animation: animate-enter10-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter10-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .and-possibly-some-other-people-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2540px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .and-possibly-some-other-people-iw6dzL.animate-enter11 {
  animation: animate-enter11-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter11-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .but-if-that-hap-bout-whatsoever-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: 22px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2600px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .but-if-that-hap-bout-whatsoever-iw6dzL.animate-enter12 {
  animation: animate-enter12-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter12-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .most-importantl-yer-on-our-team-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 227px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2888px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .most-importantl-yer-on-our-team-iw6dzL.animate-enter13 {
  animation: animate-enter13-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter13-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .he-gives-us-con-efinitely-legit-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 223px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 2950px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .and-we-are-usin-ening-right-now-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 227px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 3009px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .not-really-as-w-inancial-advice-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3074px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .nfa-is-designed-et-rich-as-fuck-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 231px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3298px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .what-are-we-goi-with-the-money-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 231px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3430px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .super-yacht-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 368px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 3643px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .remember-none-o-u-will-get-rich-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 384px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 5588px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .none-of-your-fucking-business-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2826px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .none-of-your-fucking-business-iw6dzL.animate-enter14 {
  animation: animate-enter14-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter14-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .ryan-geller-kng-kle-t4-unsplash-iw6dzL {
  background-color: transparent;
  height: 317px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3873px;
  width: 1277px;
}

.web-1280-1 .private-island-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 351px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 3982px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .mostafa-safadel-jkw-q-unsplash-iw6dzL {
  background-color: transparent;
  height: 317px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 4190px;
  width: 1277px;
}

.web-1280-1 .other-super-cool-stuff-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 4299px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .investment-thesis-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 255px;
  letter-spacing: 0.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 4602px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .who-is-nfa-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  display: block;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 2734px;
  white-space: nowrap;
  width: auto;
}

.web-1280-1 .who-is-nfa-iw6dzL.animate-enter15 {
  animation: animate-enter15-frames 0.20s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter15-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.web-1280-1 .okay-moving-on-iw6dzL {
  -webkit-text-stroke: 1px transparent;
  background-color: transparent;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: left;
  top: 3206px;
  white-space: nowrap;
  width: auto;
}
